body {
  background: #f5f5f5;
}
.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
}

header {
  height: 70px;
}

header nav img{
  height: 30px;
  margin-right: 20px;
}

form {
  background: #fff;
  padding: 80px;
  margin: 15px;
}

svg {
  margin-right:10px;
}
